.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events{
  /* border: 1px solid white; */
  width: 1200px;
}
.thead th{
  padding: 5px;
  text-align: start;
}
.tbody td{
  border-bottom: 1px solid white;
  padding: 10px;
}

.h1{
  margin: 40px;
  /* font-family: 'Nabla', cursive; */
}

.h2{
  margin-top: 20px;
  margin-bottom: 60px;
  color: #ffdd3a;
}