.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events{
  /* border: 1px solid white; */
  width: 1200px;
}
.thead th{
  padding: 5px;
  text-align: start;
}
.tbody td{
  border-bottom: 1px solid white;
  padding: 10px;
}

.h1{
  margin: 40px;
  padding: 20px 40px;
  font-family: 'sans-serif';
  border-radius: 20px;
  background-color: white;
  color: black;
}

.h2{
  margin-top: 20px;
  margin-bottom: 60px;
  color: #ffdd3a;
}

.card_bg{
  background-color: #9723C9;
  border-radius: 10px;
  box-shadow: 3px 4px black;
  border: 4px solid black;
}

.card_footer{
  color:white;
  font-size: 14px;
}

.footer{
  background-color: #69D2E7;
  border-radius: 10px;
  border : 3px solid black;
}

.projet_container{
background-color: red;
border: 4px solid black;
  box-shadow: 3px 4px black;
  border-radius: 10px;
}
/* .card_slug{
  border: 3pxc solid black;
  border-radius: 10px;
  text-align: center;
  color: black;
} */